
<table class='twelve'>
  <thead>
    <tr>
      <th>Latest Updates</th>
    </tr>
  </thead>
  <tbody>
    {{#each user in users}}
      <tr>
        <td>{{#linkTo 'users.show' user}}{{user.quote}}{{/linkTo}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{#linkTo 'users.new' class='button'}}Create{{/linkTo}}
