
<table class='table table-striped'>
  <tr>
    <th>Latest Updates</th>
  </tr>
  {{#each user in users}}
    <tr>
      <td>{{#linkTo 'users.show' user}}{{user.quote}}{{/linkTo}}</td>
    </tr>
  {{/each}}
</table>

{{#linkTo 'users.new' class='button'}}Create{{/linkTo}}
