<h1>Welcome!</h1>

<table class='table table-striped'>
  <tr>
    <th>Qoute</th>
  </tr>
  {{#each user in users}}
    <tr>
      <td>{{#linkTo 'users.show' user}}{{user.quote}}{{/linkTo}}</td>
    </tr>
  {{/each}}
</table>

{{#linkTo 'users.new' class='btn btn-primary'}}Create{{/linkTo}}
