<h1>Users</h1>
<table class='table table-striped'>
  <tr>
    <th>Name</th>
    <th>Quote</th>
  </tr>
  {{#each user in users}}
    <tr>
      <td>{{#linkTo 'users.show' user}}{{user.fullName}}{{/linkTo}}</td>
      <td>{{user.quote}}</td>
    </tr>
  {{/each}}
</table>

{{#linkTo 'users.new' class='btn btn-primary'}}Add new user{{/linkTo}}
