<h3>Ember Meetup Action</h3>
<table class='twelve'>
  <thead>
    <tr>
      <th>Name</th>
      <th>What am I doing?</th>
    </tr>
  </thead>
  <tbody>
  {{#each user in users}}
    <tr>
      <td>{{#linkTo 'users.show' user}}{{user.fullName}}{{/linkTo}}</td>
      <td>{{user.quote}}</td>
    </tr>
  {{/each}}
  <tbody>
</table>

{{#linkTo 'users.new' class='button'}}Add new user{{/linkTo}}
