<h3>{{fullName}}</h3>

<div>
  <p><q>{{quote}}</q></p>
</div>

<div class='page-header'></div>
{{#linkTo 'users.edit' content class='button'}}Edit User{{/linkTo}}
<br>
<br>
{{#linkTo 'users' class='secondary button'}}Back{{/linkTo}}

