<h1>{{fullName}}</h1>

<div>
  <q>{{quote}}</q>
</div>

<div class='page-header'></div>

{{#linkTo 'users' class='btn'}}Back{{/linkTo}}
{{#linkTo 'users.edit' content class='btn btn-primary'}}Edit User{{/linkTo}}
